<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <link rel="shortcut icon" href="../image/unnamed.png" type="image/x-icon">

  <title>Banco PAN</title>
</head>
<body>
<div class="box">
  <form action="">
    <fieldset>
      <legend><b>Produtos</b></legend>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/parabensproduto}">Emprestimo</a></button>
      </div>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/parabensproduto}">Cartão</a></button>
      </div>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/parabensproduto}">Consignado</a></button>
      </div>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/parabensproduto}">Seguros</a></button>
      </div>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/parabensproduto}">Veiculo</a></button>
      </div>
      <br>
      <div>
        <button  type="submit3" name="submit" id="submit3"><a th:href="@{/menu}">Sair</a></button>
      </div>
      <br>

    </fieldset>
  </form>
</div>


</body>
</html>