<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <link rel="shortcut icon" href="../image/unnamed.png" type="image/x-icon">

  <title>BANCO PAN</title>
</head>
<body>
<div class="box">
  <form action="cadastropj" method="post">
    <fieldset>
      <legend><b>Cadastro</b></legend>
      <br>
      <div class="inputbox">
        <input type="text" name="razao_social" id="nome" class="inputUser" required>
        <label for="nome" class="labelinput">Razao Social</label>
      </div>
      <br>
      <div class="inputbox">
        <input type="cpf" name="cnpj" id="cpf" class="inputUser" required>
        <label for="cpf" class="labelinput">CNPJ</label>
      </div>
      <br>
      <div class="inputbox">
        <input type="text" name="porte" id="text" class="inputUser" required>
        <label for="text" class="labelinput">Porte</label>
      </div>
      <br>
      <div class="inputbox">
        <input type="text" name="email" id="email" class="inputUser" required>
        <label for="email" class="labelinput">E-mail</label>
      </div>
      <br>
      <div class="inputbox">
        <label for="data_nascimento"><b>Data de Abertura: </b></label>
        <input type="date" name="dt_abertura_emp" id="data_nascimento"  required>
        <br><br>
        <div class="inputbox">
          <input type="tel" name="telefone01" id="telefone" class="inputUser" required>
          <label for="telefone" class="labelinput">Telefone 1</label>
        </div>
        <br>
        <div class="inputbox">
          <input type="tel" name="telefone02" id="telefone" class="inputUser" required>
          <label for="telefone" class="labelinput">Telefone 2</label>
        </div>
        <br>
        <div class="inputbox">
          <input type="password" name="senha" id="password" class="inputUser" required>
          <label for="password" class="labelinput">Senha</label>
        </div>
        <br>
        <button type="submit" name="submit" id="submit"><a th:href="@{/parabens}">Enviar</a></button>
    </fieldset>
  </form>
</div>

</body>
</html>