<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <link rel="shortcut icon" href="../image/unnamed.png" type="image/x-icon">

  <title>Banco PAN</title>
</head>
<body>
<div class="box">
  <form action="informacoes" method="get">
    <fieldset>
      <legend><b>Informações</b></legend>
      <br>
      <div class="inputbox info">
        <h3><span th:text="${nm_cliente}"> </span></h3>
      </div>
      <br>
      <div class="inputbox info">
        <h3><span th:text="${cpf}"> </span></h3>
      </div>
      <br>
      <div class="inputbox info">
        <h3><span th:text="${email}"> </span></h3>
      </div>
      <br>
      <div class="inputbox info">
        <h3><span th:text="${telefone01}"> </span></h3>
      </div>
      <br>
      <div class="inputbox info">
        <h3><span th:text="${logradouro}"> </span></h3>
      </div>
      <br>
      <button  type="submit2" name="submit2" id="submit2"><a th:href="@{/menu}">Sair</a></button>

    </fieldset>
  </form>
</div>


</body>
</html>