<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" th:href="@{css/image/unnamed.png}"type="image/x-icon">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet" />

    <style>

    </style>

    <title>Banco PAN</title>
    <nav class="navbar navbar-light" style="background-color: rgb(255, 255, 255);">
        <a th:href="@{/login}"><img th:src="@{css/image/download.png}" alt="" ></a>
        <div>
            <blockquote class="blockquote text-center">
                <p class="mb-0"> Olá, seja bem vindo" </p>
                <footer class="blockquote-footer"> <cite title="Título da fonte"><span th:text="${nm_cliente}"> </span></cite></footer>
            </blockquote>
        </div>
        <div class="menu_principal">
            <ul>
                <li><a th:href="@{informacoes}" class="menu_item">Minhas Informações</a></li>
                <li><a th:href="@{meusprodutos}" class="menu_item">Meus Produtos</a></li>
                <li><a th:href="@{contratar}" class="menu_item">Contratar Produtos</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="container1 imagem_fundo1">
    <div class="h6">
        <h6>Emprestimo Pessoal: com apenas um clique </h6>
        <br>
        <button  type="submit5" name="submit5" id="submit5" class="bt_cartao1"><a class="a5" th:href="@{/contratar}">Solicitar Emprestimo</a></button>
    </div>
    <img th:src="@{css/image/faro.png}" alt="" class="banner1">
    <h2></h2>
</div>
<div class="container1 imagem_fundo2">
    <div class="h2">
        <h2>Muito mais que um cartão!</h2>
        <br>
        <h5>Solicite seu cartão com apenas um clique.</h5>
            <br>
            <button  type="submit4" name="submit4" id="submit4" class="bt_cartao"><a class="a4" href="./parabens2.html">Solicitar Cartão</a></button>
    </div>

    <img th:src="@{/image/cards-cut.png}" alt="" class="banner2">
</div>



</body>
</html>